/*---------------------------------------*\
            Layout elements
\*---------------------------------------*/

// Повторяющиеся элементы для расположения элементов в браузере

.row // Flex контейнер в строку
    display flex
    flex-direction row 
    align-items center

.column // Flex контейнер в колонку
    display flex
    flex-direction column
    align-items center
    text-align: center


// Выравнивание элементов вынесено в отдельные классы

.spacebeetwen // элементы прижаты к краям равномерно распрделяя пространство
    align-items center
    justify-content space-between
    
.center // Элементы сконцентрированы по центру
    text-align center