/*---------------------------------------*\
            VARIABLES
\*---------------------------------------*/

// Основные переменные

// Основные цвета
mainC = #19bd9a // Главный цвет сайта
lightC = #ffffff // Основной светлый цвет для текста
grayC = #81868e // Серый цвет для текста на иконок
grayDarkC = #333b46 // Цвет для кнопки и текста заголовка на сером фоне
grayDark2C = #464646 // Цвет для текста заголовков параграфов
bgC = #f3f3f3 // Светлый цвет для фона

// Цвета для элементов
mainAccentC = #19bd9a // Цвет для акцента зеленного текста
grayAccentC = #636971 // Цвет для акцента strong в параграфах

//Fonts
logoFont = 'Big Jhon', sans-serif // Шрифт ЛОГО
mainFont = 'Source Sans Pro', sans-serif // Основной шрифт для заголовков 
secondFont = 'Open Sans', sans-serif // Основной шрифт для текста