/*---------------------------------------*\
            #Site
\*---------------------------------------*/

// ------------ Вспомогательные классы и переменные
// Стили для нормализации
@import "./helpers/_normalize.styl"

// Шрифты
@import "./helpers/_fonts.styl"

// Основные переменные для сайта
@import "./helpers/_variables.styl"

// Основные стили для разметки
@import "./helpers/_layout.styl"


// ----------- Стили секций



// ------------ Адаптивность
// Определение стилей для реализации адаптивности
@import "./helpers/_media.styl"
